
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.dashboard {
    font-family: "Roboto";
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    
}

.content {
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-track:hover {
    background: #555;
}

.nav-link {
    text-decoration: none;
}

.investBox-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.investBox-top p {
    font-size: 17px;
   
}

.invest-icon {
    background: #873DCF;
     padding: 5px 8px;
     border-radius: 4px;
     color: white;
}

.investBox-bottom {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    
}

.investBox-bottom h1 {
    font-size: 30px;
}

.investBox-bottom p {
    color: lightgreen;
}

.investment-amounts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.icon2 {
    background: #286B91;
}

.icon3 {
    background: #1F6A5D;
}

.charts {
    display: flex;
    gap: 3rem;
    width: 100%;
    margin-top: 30px;
}

.recent {
   border-bottom: 3px solid #141B2D;
   padding: 9px 8px;
}

.history-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 13px;
}

.history-box button {
    width: 15%;
    height: 20px;
    border: none;
    border-radius: 4px;

}

.deposit-container {
    display: flex;
}

.deposit-left {
    padding: 10px 30px;
    width: 50%;
}

.enter-amount {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.enter-amount h3 {
    font-size: 20px;
    opacity: 0.5;
}

.enter-amount input {
    margin-top: 8px;
    width: 100%;
    height: 100px;
    font-size: 40px;
    border: none;
    padding: 0px 10px;
    border-bottom: 1px solid grey;
}

.deposit-quick-option {
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.deposit-q-box {
    width: 100%;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0.7;
}

.payment-option{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.method-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 10;
    margin-top: 13px;
}

.m-b-right img {
    width: 100px;
    filter: contrast(0.1);
}

.card-container {
    display: flex;
    align-items: center;

    gap: 1rem;
    margin-top: 10px;
}

.continue-btn {
    display: none;
}

.card-box {
    width: 30%;
    height: 40px;
    background: url("https://w7.pngwing.com/pngs/473/389/png-transparent-apple-pay-mobile-payment-apple-wallet-apple-text-service-rectangle.png"), red;
    background-size: cover;
    border-radius: 6px;
    opacity: 0.7;
}

.card-box2 {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq9NkGQLcql_p8QCkbADD_UV0mw8FON3znFJ6lHd7FXw&s");
    background-size: cover;
}

.card-box3 {
    background: url("https://i.pinimg.com/736x/43/ed/1d/43ed1d4685a1e776836cf19557cfca73.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-box4 {
    background: url("https://branditechture.agency/brand-logos/wp-content/uploads/wpdm-cache/Verve-900x0.png");
    background-size: cover;
    background-position: center;
}



.m-b-left {
    width: 65%;
}

.m-b-left p {
    font-weight: 600;
    font-size: 16px;
}

.deposit-right {
    width: 50%;
    border-radius: 10px;
    padding: 30px 20px;
}

.selected-method {
    font-family: sans-serif;
}

.selected-top h1 {
    font-size: 17px;
}

.selected-box {
    padding: 30px 30px;
    margin-top: 20px;
    border-radius: 6px;
    
}

.split-selected {
    display: flex;
    justify-content: space-between;
}

.split-box {
    margin-top: 30px;
}

.selected-top button{
      width: 100%;
      margin-top: 150px;
      height: 50px;
      font-size: 14px;
      font-weight: 800;
      border: none;
      border-radius: 8px;
}

.phone-side-nav {
    width: 60%;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 30;
    padding: 30px 20px;
    transition: 0.3s linear;
    box-shadow: 0px 0px 10px rgba(0,0,40, 0.6);
}

.cancel {
   margin: 0 0 0 auto;
   width: 20%;
   font-size: 24px;
}

.no-bg {
    background: transparent !important;
}

.menu-icon {
    display: none !important;
    font-size: 40px !important;
}

.p-link {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 17px;
}

.phoneI {
    font-size: 28px !important;
}

.p-link-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.linkor {
   
    text-decoration: none;
}

.withdraw {
    padding: 20px 30px;
}


.withdraw-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.withdraw-form {
    width: 600px;
    padding: 30px 0px;
}

.notification {
    padding: 20px 20px;
}

.notify {
    padding: 20px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.notify h1 {
    font-size: 21px;
    margin-bottom: 7px;
}

.notify p {
    font-size: 15px;
    line-height: 25px;
}

.notify input[type="checkbox"]{
   width: 20px;
   
}

.notification-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.debit {
    background-color: black;
    color: white;
}

.fee {
    position: absolute;
    width: 90%;
    height: 70vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 3;
    animation: fade 0.4s linear 1;
    transition: 0.4s linear;
}


.my-circles {
    display: flex;
    justify-content: space-between;
}

.my-circles div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-circles .one {
    background: blue;
}

.circle {
    width: 50px;
    height: 50px;
    background: rgb(32, 32, 32);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-box {
    background-color: rgb(32, 32, 32);
    
    margin-top: 50px;
    padding: 30px;
    width: 95%;
}

.send-box h1 {
    font-size: 20px;
}

.send-box h2 {
    font-size: 50px;
}

.send-box h3 {
    font-size: 30px;
    color: rgb(154, 154, 230);
}

.pay-btn {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

.pay-btn button{
  height: 40px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
}

.pay-btn2 button{
  height: 40px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  width: 100%;
}

.crypto{
    background-color: rgb(67, 67, 240);
    color: white;
}

.can {
    background-color: rgb(243, 92, 92);
    color: white;
}

.anime {
    animation: fade 0.4s linear 1;
}

.anime h5 {
    color: rgb(221, 96, 96);
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
}

.confirmer {
    text-align: center;
    font-family: sans-serif;
}

.confirmer h1 {
    margin-bottom: 14px;
    font-size: 25px;
}

.confirmer p {
    margin-bottom: 14px;
    line-height: 23px;
}
@keyframes fade {
    from{opacity: 0;}
    to{opacity: 1;}
}

.bit-logo {
    width: 100%;
    height: 90px;
  
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfvUzlThh8cdjMghD68Hm4yifxTZ4mnGTMPg&s");
    background-size: cover;
    background-position: center;
}

.no-data {
   width: 100%;
   height: 30vh;
   margin-top: 100px;
}




.uploader-container {
  background-color: transparent;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 19px;
  color: #949090;
}

.drop-zone {
  border: 2px dashed #6a93f0;
  border-radius: 10px;
  padding: 20px 20px;
  cursor: pointer;
  transition: background 0.2s;
  color: #444;
}

.drop-zone:hover {
  background-color: #26262750;

}

.error-message {
  margin-top: 10px;
  color: #e74c3c;
  font-size: 14px;
}

.preview-container {
  margin-top: 20px;
}

.preview-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.or {
    text-align: center;
    margin-bottom: 10px;
}

.redeem {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid #6a93f0;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 14px;
}

.profile {
    color: white;
    padding: 20px 20px;
    
}

.pp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url("https://www.shutterstock.com/image-vector/avatar-gender-neutral-silhouette-vector-600nw-2470054311.jpg");
    background-size: cover;
}

.profile-top {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: #131212;
    padding: 30px 20px;
    border-radius: 10px;
}

.profile-top h1 {
    font-size: 23px;
}

.main-profile {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
}

.main-profile div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-profile div h1{
    font-size: 18px;
}

.main-profile div p{
    font-size: 18px;
    opacity: 0.6;
}

.profile-bottom {
    margin-top: 60px;
    
    background: #131212;
    padding: 20px 15px;
    border-radius: 10px;
}


.profile-bottom p {
    font-size: 20px;
    font-weight: 800;
    color: #35C0AC;
}

.profile-bottom h1 {
    font-size: 40px;
}

.profile-top p{
    color: #35C0AC;
    font-size: 19px;
}

.fee-write {
   margin-top: 30px;
}

.fee-write p{
    line-height: 27px;  
}


.admin-head{
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
    font-size: 23px;
}

.admin {
    padding: 10px 30px;
}

.client {
    margin-top: 15px;
    background-color: #202020f1;
    padding: 20px;
    border-radius: 6px;
}

.client input {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255,255,255, 0.6);
    height: 40px;
    margin-top: 10px;
    border-radius: 7px;
    padding-left: 10px;
}

.client h2 {
    opacity: 0.6;
    font-size: 18px;
}


.client-found {
    color: rgb(243, 127, 127);
    text-align: center;
    padding: 20px 0px;
    font-size: 24px;
}

.client-founder {
    color: rgb(81, 250, 109);
    text-align: center;
    padding: 10px 0px;
    font-size: 24px;
}

.my-acc {
    text-align: center;
    color:  rgb(81, 250, 109);
}


.my-cl {
    margin: 20px 0px;
}

.my-cl h2{
    opacity: 0.6;
    font-size: 18px;
    margin-bottom: 20px;
}

.my-cl input {
    height: 60px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid gold;
    font-size: 45px;
}

.sub-btn {
    margin-top: 100px;
    background-color: gold;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: black;
    font-weight: 1000;
    border: none;
    border-radius: 10px;
    

}

.client button {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background-color: gold;
    font-weight: 1000;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.transfer-head h1 {
    font-size: 30px;
    text-align: center;
    color: gold;
}

.fcfg {
    margin-top: 30px;
    text-align: center;
}

.fcfg h2 {
    color: gold;
}

.transfer {
    padding: 10px 30px;
}

.transfer-box {
    background-color: #131212;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 40px;
    border-radius: 10px;
}

.transfer-box input {
    height:60px;
    background: transparent;
    padding: 0px 6px;
    border: none;
    border-bottom: 1px solid rgba(255, 217, 0, 0.459);
}

.transfer-box select {
    height: 60px;
    color: rgb(134, 131, 131);
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 217, 0, 0.459);
}

.transfer-box button {
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color:  rgba(255, 217, 0, 0.911);
    font-weight: 600;
    font-size: 19px;
}


.rec-name {
    color: rgb(43, 240, 43);
    margin-top: 10px;
}

.rec-name h1{
    font-size: 26px;
    letter-spacing: 2px;
}

.rec-name p {
    font-size: 18px;
}

.rec-box {
    background-color: #131212;
    padding: 30px 15px 40px 15px;
    margin-top: 20px;
    border-radius: 10px;
}
.rec-box h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.dollar-amount {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dollar-amount h1 {
    font-size: 30px;
}

.dollar-amount input {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gold;
    font-size: 30px;
    font-weight: 800;
}

.for-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gold;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    font-size: 20px;
}

.reciepient {
    animation: slider-in 0.3s linear 1;
}

.no-rec {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(245, 70, 70);
    font-size: 25px;
    flex-direction: column;
    gap: 1rem;
       animation: slider-in 0.3s linear 1;
}

.no-rec button {
    width: 200px;
    height: 40px;
    background-color: rgb(245, 70, 70) ;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 10px;
}



@keyframes slider-in {
    from{transform: translate(100%, 0%);}
    to{transform: translate(0%,0%);}
}


.sender {
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color:  rgba(255, 217, 0, 0.911);
    font-weight: 600;
    font-size: 19px;
    width: 100%;
    margin-top: 30px;
}








@media screen and (max-width: 1000px) {
       .sidebar {
        position: fixed !important;
        margin-left: -500px !important;
        height: 100vh !important;
        
       }

       .investment-amounts {
        display: flex;
        flex-direction: column;
       }

       .charts {
        display: flex;
        flex-direction: column;
       }

       .histogo {
        width: 100% !important;
       }

       .line {
        width: 100% !important;
       }

       .top-input {
        display: none !important;
       }

       .top-icons {
        font-size: 30px !important;
       }

       .top-icon-box {
        margin: 0 0 0 auto;
       right: 0 !important;
       
       }

       .histo-btn {
        background: transparent !important;
       }

       .deposit-container {
        display: flex;
        flex-direction: column;
       }

       .deposit-left {
        width: 100%;
       }

       .m-b-right {
        display: none;
       }

       .m-b-left {
        width: 100%;
       }

       .continue-btn {
        display: block;
        margin-top: 80px;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 7px;
        font-weight: 600;
        font-size: 18px;
       }

       .deposit-right {
        width: 100%;
        margin-top: 50px;
        border-radius: 14px;
       }

       .selected-top button {
        margin-top: 100px;
       }

       .phone-side-nav {
       display: block;

       }

       .menu-icon {
        display: block !important;
       }

    
}

@media screen and (max-width: 390px) {
    .profile-top h1 {
    font-size: 19px;
}

.pp{
     width: 80px;
    height: 80px;
}

.main-profile div h1{
    font-size: 14px;
}

.main-profile div p{
    font-size: 14px;
    opacity: 0.6;
}


}